.markdown-section h1 {
    font-size: 3rem;
}

.markdown-section h1, .markdown-section h2 {
    border-bottom: 1px solid #ccc;
}

.markdown-section p {
    line-height: 1.6rem;
    margin: 1em 0;
    font-size: 18px;
}

.sidebar ul li a {
    font-size: 16px;
}

.content {
    padding-top: 0;
}

img {
    max-width: 60%;
}

.app-name-link img {
    max-width: 30%;
}