.markdown-section h1 {
    font-size: 3rem;
}

.markdown-section h5 {
    font-size: 1.1rem;
}

.markdown-section h1, .markdown-section h2 {
    border-bottom: 1px solid #ccc;
}

.markdown-section p {
    line-height: 1.6rem;
    margin: 1em 0;
    font-size: 18px;
}

.markdown-section details p {
    margin: 0.5em auto;
}

.sidebar ul li a {
    font-size: 16px;
}

.content {
    padding-top: 0;
}

img {
    max-width: 60%;
}

.app-name-link img {
    max-width: 30%;
}

h1.app-name {
    display: none;
}

h5 {
    margin: 0;
}

details > summary {
    background-color: #f8f8f8;
    padding: 8px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

details > div {
    padding: 4px 4px 4px 10px;
    border: solid thin darkgrey;
}
